<div id="outer" *ngFor="let card of cards" >
    <div id="card-container" >
      <h2>{{ card.title }}</h2>
      <ul>
        <li class="card-image">
          <img src="{{ card.image }}" alt="{{ card.title }}">
          
        </li>
        <li>{{ card.title }}</li>
        <hr />
        <li>{{ card.owner }}</li>
      </ul>
      <button id="buy-btn" *ngIf="card.forSale === true; else blank">
        <ul>
          <li>BUY</li>
          <li>{{ card.price }}</li>
        </ul>
      </button>
      <ng-template #blank>
       <div >
        <ul style="visibility: hidden">
          <li>BUY</li>
          <li>{{ card.price }}</li>
        </ul>
       </div>
      </ng-template>
    </div>
   
  </div>
  
  