<div *ngFor="let card of cards" [ngClass]="{'remove-card': card.forSale !== true}">
  
<div id="outer"  *ngIf="card.forSale === true">
 
    <div>
      <div id="card-container">
        
        <h2>{{ card.title }}</h2>
        <ul>
          <li class="card-image">
            <img src="{{ card.image }}" alt="{{ card.title }}" />
          </li>
          <li>{{ card.title }}</li>
          <hr />
          <li>{{ card.owner }}</li>
        </ul>
        <button id="buy-btn" *ngIf="card.forSale === true">
          <ul>
            <li>BUY</li>
            <li>{{ card.price }}</li>
          </ul>
        </button>

      </div>
      
    </div>
  </div>

</div>
