<div id="create-container">
    <form [formGroup]="cardUploadForm" (ngSubmit)="onSubmit()"> 
        <section id="image-drop">
            <input type="file" name="card-upload" id="card-upload">
        </section>
        <section id="card-info">
            <ul>
    
                <li>
                    <label for="name">Card Name</label>
                    <input type="text" 
                    id="cardName"
                    name="cardName"
                    formControlName="cardName" 
                    placeholder="Card Name"
                    
                    >
                    <div class="error"  >Card Name Required</div>
                </li>
                <li>
                    <label for="owner">Card Owner</label>
                    <input type="text" 
                    id="cardOwner" 
                    name="cardName"
                    formControlName="cardOwner" 
                    placeholder="Card Owner" 
                    >
                </li>
                <li>
                    <label for="price">For Sale</label>
                    <input type="text" 
                    id="price"
                    name="price" 
                    formControlName="price" 
                    placeholder="Price" 
                    >
                </li>
            </ul>
        </section>
        <button type="submit">Make card</button>
    </form> 
    
    </div>
    
    