<div id="create-container">
    <form action="#" method="post" id="new-card"> 
        <section id="image-drop">
            <input type="file" name="card-upload" id="card-upload">
        </section>
        <section id="card-info">
            <ul>
    
                <li>
                    <label for="name">Card Name</label>
                    <input type="text" 
                    id="card-name"
                    name="card-name" 
                    placeholder="Card Name"
                    
                    >
                </li>
                <li>
                    <label for="owner">Card Owner</label>
                    <input type="text" 
                    id="owner" 
                    placeholder="Card Owner" 
                    >
                </li>
                <li>
                    <label for="price">For Sale</label>
                    <input type="text" 
                    id="price" 
                    placeholder="Price" 
                    >
                </li>
            </ul>
        </section>
        <button type="submit">Make card</button>
    </form> 
   
    </div>
    
    