<div id="create-container">
    <form [formGroup]="cardUploadForm" (ngSubmit)="onSubmit()"> 
        <section id="image-drop">
            <input type="file" name="card-upload" id="card-upload" onchange="console.log(event.target.files)">
        </section>
        <section id="card-info">
            <ul>
    
                <li>
                    <label for="name">Card Name</label>
                    <input type="text" 
                    id="cardName"
                    name="cardName"
                    formControlName="cardName" 
                    placeholder="Card Name"
                    
                    >
                    
                </li>
                <li>
                    <label for="owner">Card Owner</label>
                    <input type="text" 
                    id="cardOwner" 
                    name="cardOwner"
                    formControlName="cardOwner" 
                    placeholder="Card Owner" 
                    >
                </li>
                <li>
                    <label for="price">For Sale</label>
                    <input type="text" 
                    id="price"
                    name="price" 
                    formControlName="price" 
                    placeholder="Price" 
                    >
                </li>
            </ul>
        </section>
        <button type="submit" [disabled]="!cardUploadForm.valid">Make card</button>
    </form> 
    <section>
        <ul>
            <li>{{ cardUploadForm.value.cardName }}</li>
            <li>{{ cardUploadForm.value.cardOwner }}</li>
            <li>{{ cardUploadForm.value.price }}</li>
        </ul>
        
    </section>
    </div>
    
    