/* You can add global styles to this file, and also import other style files */

app-card-details, app-for-sale, app-sold  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}